@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.card .card-overlay-1, .card .card-overlay-2, .card .card-overlay-3, .card .card-overlay-4, .card .card-overlay-5, .card .card-overlay-6, .card .card-overlay-7, .card .card-overlay-8, .card .card-overlay-9, .card img {
  width: 80%;
  height: 80%; }

.card:hover img {
  width: 90%;
  height: 90%; }

:root {
  box-sizing: inherit; }

body {
  font-family: 'Source Sans Pro';
  box-sizing: border-box; }

a {
  color: black;
  text-decoration: none; }

.card .card-overlay-1, .card .card-overlay-2, .card .card-overlay-3, .card .card-overlay-4, .card .card-overlay-5, .card .card-overlay-6, .card .card-overlay-7, .card .card-overlay-8, .card .card-overlay-9 {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  letter-spacing: 3px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.5s; }

.card:hover .card-overlay, .card:hover .card-overlay-1, .card:hover .card-overlay-2, .card:hover .card-overlay-3, .card:hover .card-overlay-4, .card:hover .card-overlay-5, .card:hover .card-overlay-6, .card:hover .card-overlay-7, .card:hover .card-overlay-8, .card:hover .card-overlay-9 {
  width: 90%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.3); }

.navbar {
  position: relative;
  z-index: 200; }
  .navbar-navigation {
    display: flex; }
    .navbar-navigation-right {
      width: 50vw;
      height: 100vh;
      background-color: #1f1d1d;
      position: fixed;
      right: -50vw;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: right 0.8s cubic-bezier(1, 0, 0, 1); }

.header {
  width: 100%;
  margin-top: 100px;
  margin-left: 45px;
  margin-bottom: 100px;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px; }
  .header img {
    height: 149px; }
  .header .inner .darkgrey {
    color: darkgrey; }
  .header .inner .yellow {
    color: yellow; }
  .header .inner .lightgray {
    color: lightgray; }
  .header .inner a {
    letter-spacing: 5px;
    font-weight: bold; }

.wrapper {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between; }

.conferences {
  padding: 50px;
  letter-spacing: 3px;
  font-weight: bold;
  text-transform: uppercase; }

.main {
  margin-left: 45px; }
  .main h2 {
    font-weight: bold;
    line-height: 4;
    text-align: justify;
    text-transform: uppercase;
    letter-spacing: 4px; }
  .main p {
    line-height: 1.3;
    text-align: justify;
    font-weight: lighter; }
  .main br {
    line-height: 2; }

.gallery {
  margin-left: 45px; }
  .gallery .cards-wrap {
    display: flex;
    flex-wrap: wrap;
    align-content: center; }

.footer {
  width: 100%;
  padding: 40px;
  background-color: rgba(88, 88, 88, 0.3); }
  .footer input[type=text] {
    appearance: none;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.7);
    padding: 10px;
    transition: 0.3s; }
  .footer input:focus {
    border-bottom: solid 1px red; }
  .footer textarea {
    border: none;
    padding: 10px;
    background-color: transparent;
    border-bottom: solid 1px rgba(0, 0, 0, 0.7);
    transition: 0.3s; }
  .footer textarea:focus {
    border-bottom: solid 1px red; }
  .footer .inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #585858;
    font-weight: bold; }
    .footer .inner .copyright {
      margin-top: 30px;
      text-transform: capitalize; }
  .footer .social-media {
    position: absolute;
    display: flex;
    width: 300px;
    justify-content: space-around;
    left: +75%; }
    .footer .social-media-item {
      list-style: none; }
    .footer .social-media-link {
      font-size: 30px;
      padding: 5px;
      border: gray solid;
      transition: 0.3s; }
      .footer .social-media-link:hover {
        color: pink;
        border: pink solid; }

button {
  padding: 15px;
  background-color: #585858;
  border-radius: 5px;
  letter-spacing: 2px;
  color: white;
  font-weight: bold;
  transition: 0.3s; }
  button:hover {
    background-color: #f285a1;
    color: white; }

.get-your-tickets {
  background-color: transparent;
  color: #585858;
  text-transform: uppercase; }

.card {
  width: 50%;
  height: 45vh;
  position: relative;
  display: flex;
  text-align: center; }
  .card:hover .overlay-link {
    opacity: 100;
    font-size: 15px;
    margin-top: 10px;
    letter-spacing: 1px;
    font-weight: normal; }
  .card .overlay-link {
    opacity: 0;
    color: white; }
  .card img {
    object-fit: cover;
    border-radius: 5px;
    transition: 0.5s; }
  .card .card-overlay-1 {
    background-color: rgba(255, 192, 203, 0.7); }
  .card .card-overlay-2 {
    background-color: rgba(49, 148, 230, 0.7); }
  .card .card-overlay-3 {
    background-color: rgba(54, 173, 94, 0.7); }
  .card .card-overlay-4 {
    background-color: rgba(204, 35, 167, 0.7); }
  .card .card-overlay-5 {
    background-color: rgba(134, 76, 209, 0.7); }
  .card .card-overlay-6 {
    background-color: rgba(49, 148, 230, 0.7); }
  .card .card-overlay-7 {
    background-color: rgba(233, 104, 164, 0.7); }
  .card .card-overlay-8 {
    background-color: rgba(83, 137, 236, 0.7); }
  .card .card-overlay-9 {
    background-color: rgba(42, 184, 141, 0.7); }
  .card .card-overlay .card-overlay-head {
    font-size: 20px; }
