.header {
    width: 100%;
    margin-top: 100px;
    margin-left: 45px ;
    margin-bottom: 100px;
    position: relative;
    display: flex;
    justify-content: space-between;

    margin-bottom: 50px;
    img{
        height: 149px;
    }
    .inner{
        
        .darkgrey{
            color: darkgrey;
        }
        .yellow{
            color:yellow;
        }
        .lightgray{
            color: lightgray
        }
        a{
            letter-spacing: 5px;
            font-weight: bold;
        }
    }
    }


.wrapper {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

    

}

.conferences{

    padding: 50px;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
}

.main{
    margin-left: 45px ;
    h2{
        font-weight: bold;
        line-height: 4;
        text-align: justify;
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    p{
        line-height: 1.3;
        text-align: justify;
        font-weight: lighter;

    }

    br{
        line-height: 2;
    }
}
