.card {
    width: 50%;
    height: 45vh;
    
    position: relative;
    display: flex;
    text-align: center;

    &:hover .card-overlay {
        @extend %transition-overlay;

       &-1{
        @extend %transition-overlay;
       }

       &-2{
        @extend %transition-overlay;
       }

       &-3{
        @extend %transition-overlay;
       }

       &-4{
        @extend %transition-overlay;
       }

       &-5{
        @extend %transition-overlay;
       }

       &-6{
        @extend %transition-overlay;
       }

       &-7{
        @extend %transition-overlay;
       }
       &-8{
        @extend %transition-overlay;
       }
       &-9{
        @extend %transition-overlay;
       }


    }

    &:hover .overlay-link{
        opacity: 100;
        font-size: 15px;
        margin-top: 10px;
        letter-spacing: 1px;
        font-weight: normal;
    }

    &:hover img{
        @extend %fullSpace2;
        
    }

    .overlay-link{
        opacity: 0;
        color: white;

    }

    img {
        @extend %fullSpace;
        object-fit: cover;
        border-radius: 5px;
        transition: 0.5s;
        
    }

    
    .card-overlay {
      
        
        &-1{
        @extend %card-overlays;
        background-color: rgba($color: pink, $alpha: 0.7);
        
           
        }

        &-2{
        @extend %card-overlays;
        background-color: rgba($color: rgb(49, 148, 230), $alpha: 0.7);
        
        }

        &-3{
        @extend %card-overlays;
        background-color: rgba($color: rgb(54, 173, 94), $alpha: 0.7);
        }


        &-4{
             @extend %card-overlays;
            background-color: rgba($color: rgb(204, 35, 167), $alpha: 0.7);
        }
        &-5{
            @extend %card-overlays;
            background-color: rgba($color: rgb(134, 76, 209), $alpha: 0.7);
            
        }
        &-6{
            @extend %card-overlays;
            background-color: rgba($color: rgb(49, 148, 230), $alpha: 0.7);
            
        } 
        &-7{
            @extend %card-overlays;
            background-color: rgba($color: rgb(233, 104, 164), $alpha: 0.7);
            }

        &-8{
             @extend %card-overlays;
            background-color: rgba($color: rgb(83, 137, 236), $alpha: 0.7);
        }
        &-9{
            @extend %card-overlays;
            background-color: rgba($color: rgb(42, 184, 141), $alpha: 0.7);
            
        }
    



        .card-overlay-head {
            font-size: 20px;
            

        }
    }

}
