$color-dark: #262626;
$color-black: #000;
$color-primary: #d3ab55;
$color-secondary: #bbb;
$color-white: #fff;


//Fonts

%fullSpace {
    width: 80%;
    height: 80%;
}

%fullSpace2 {
    width: 90%;
    height: 90%;
}

:root{
    box-sizing: inherit;
}


body {
    box-sizing: border-box;
    background: url(../images/background.jpg) no-repeat fixed;
    background-size: cover;
}

a {
    color: black;
    text-decoration: none;
}